In [26]:
x = int(input("Enter an x value:")) 
y = int(input("Enter an y value:"))
z = int(input("Enter an z value:"))  
n = int(input("Enter an n value:"))
s=[] 
d=[]
for i in range(0,x+1): 
    for j in range(0,y+1): 
        for k in range(0,z+1): 
            s.append([i,j,k])  
for l in range(0,len(s)): 
    if sum(s[l])!=n: 
        d.append(s[l]) 

print(d)

Enter an x value:1
Enter an y value:1
Enter an z value:2
Enter an n value:3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [25]:
d

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [23]:
sum((1,2,3))

6

In [5]:
len(n)

8

In [8]:
for l in range(0,len(n)): 
    if sum(n[l])!=s: 
        print(n[l])

[0, 0, 0]
[0, 0, 1]
[0, 1, 0]
[1, 0, 0]
[1, 1, 1]

In [14]:
print(sum([1,2,4]))

7

In [15]:
sum([12,23,34])

69

In [17]:
import pandas as pd

In [19]:
pd.__version__

'1.1.2'

In [27]:
pwd()

'C:\\Users\\teja'

In [82]:
n = int(input())
arr = map(int, input().split())

5
2 3 6 6 5

In [83]:
c = list(arr) 
c

[2, 3, 6, 6, 5]

In [84]:
c.remove(max(c))

In [90]:
b = set(c) 
v = list(b) 
v[len(v)-2]

5

In [89]:
b.

TypeError: 'set' object is not subscriptable

In [55]:
d=list(arr)

In [56]:
d.sort()

In [57]:
d

[2, 3, 5, 6, 6]

In [58]:
d[len(d)-2]

6

In [30]:
list(arr)

[1]

In [37]:
ty = input("Enter an value") 
ed=map(int,ty.split())

Enter an value5 3 2 4 7

In [39]:
list(ed)

[5, 3, 2, 4, 7]

In [81]:
n = int(input())
arr = map(int, input().split()) 
    
f = list(arr) 
    
f.remove(max(f)) 
    
f

5
2 3 6 6 5

[2, 3, 6, 5]

In [91]:
n = int(input())
arr = map(int, input().split()) 
    
c = list(arr)
    
b = set(c) 
v = list(b) 
print(v[len(v)-2])

5
2 3 6 6 5 7 8 9
8

In [92]:
c

[2, 3, 6, 6, 5, 7, 8, 9]

In [93]:
v=[12,23]

In [94]:
v[len(v)-2]

12

In [95]:
b=[2,3,6,6,5]

In [96]:
grades =[37.21,37.21,37.2,39,41]

In [97]:
sorted(grades)

[37.2, 37.21, 37.21, 39, 41]

In [98]:
a,_=5,6

In [99]:
a

5

[2, 3, 6, 6, 5]

In [101]:
name = input()
score = float(input())

alpha
37.2

In [2]:
de = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [9]:
f = []
for i in range(0,len(de)): 
    f.append(de[i][1])

In [10]:
sorted(f)

[37.2, 37.21, 37.21, 39, 41]

In [148]:
vals = list(e.values()) 
keys[vals.index(f[1])]

'Harry'

In [11]:
de

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41],
 ['Harsh', 39]]

In [15]:
vals

[37.21, 37.21, 37.2, 41, 39]

In [14]:
keys

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [12]:
e =dict(de) 
keys = list(e.keys()) 
vals = list(e.values()) 
for i in range(0,len(f)): 
    print(keys[vals.index(f[i])])

Harry
Harry
Tina
Akriti
Harsh

In [150]:
keys

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [127]:
dictA = {"Mon": 3, "Tue": 11, "Wed": 8}
# list of keys and values
keys = list(dictA.keys())
vals = list(dictA.values())
print(keys[vals.index(11)])
print(keys[vals.index(8)])
# in one-line
print(list(dictA.keys())[list(dictA.values()).index(3)])

Tue
Wed
Mon

In [129]:
keys

['Mon', 'Tue', 'Wed']

In [130]:
vals

[3, 11, 8]

In [131]:
keys[vals.index(11)]

'Tue'

In [133]:
list(dictA.keys())[list(dictA.values()).index(3)]

'Mon'

In [16]:
de = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [17]:
l=[]
for i in range(0,len(de)): 
    l.append(de[i][0])

In [18]:
l

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [19]:
sorted(l)

['Akriti', 'Berry', 'Harry', 'Harsh', 'Tina']

In [20]:
dict(de)

{'Harry': 37.21, 'Berry': 37.21, 'Tina': 37.2, 'Akriti': 41, 'Harsh': 39}

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
query_name = input()   
d = list(student_marks.get(query_name))  
f=0 
for i in range(0,len(d)): 
    f = f + d[i] 
print("Average of the student marks : ",f/3)

In [2]:
student_marks

{'Harsh': [12.0, 45.0, 35.0]}

In [11]:
d = list(student_marks.get(query_name)) 
d

[12.0, 45.0, 35.0]

In [10]:
f=0 
for i in range(0,len(d)): 
    f = f + d[i] 
print("Average of the student marks : ",f/3)

Average of the student marks :  30.666666666666668

In [3]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()  
d = list(student_marks.get(query_name))  
f=0 
for i in range(0,len(d)): 
    f = f + d[i] 
a=f/3
print("{0:.2f}".format(a))

3
manoj 1 2 3
kumar 14 4 5
teja 3 5 6
teja
[3.0, 5.0, 6.0]
4.666666666666667