In [26]:
x = int(input("Enter an x value:")) 
y = int(input("Enter an y value:"))
z = int(input("Enter an z value:"))  
n = int(input("Enter an n value:"))
s=[] 
d=[]
for i in range(0,x+1): 
    for j in range(0,y+1): 
        for k in range(0,z+1): 
            s.append([i,j,k])  
for l in range(0,len(s)): 
    if sum(s[l])!=n: 
        d.append(s[l]) 

print(d)

Enter an x value:1
Enter an y value:1
Enter an z value:2
Enter an n value:3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [25]:
d

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [23]:
sum((1,2,3))

6

In [5]:
len(n)

8

In [8]:
for l in range(0,len(n)): 
    if sum(n[l])!=s: 
        print(n[l])

[0, 0, 0]
[0, 0, 1]
[0, 1, 0]
[1, 0, 0]
[1, 1, 1]

In [14]:
print(sum([1,2,4]))

7

In [15]:
sum([12,23,34])

69

In [17]:
import pandas as pd

In [19]:
pd.__version__

'1.1.2'

In [27]:
pwd()

'C:\\Users\\teja'

In [82]:
n = int(input())
arr = map(int, input().split())

5
2 3 6 6 5

In [83]:
c = list(arr) 
c

[2, 3, 6, 6, 5]

In [84]:
c.remove(max(c))

In [90]:
b = set(c) 
v = list(b) 
v[len(v)-2]

5

In [89]:
b.

TypeError: 'set' object is not subscriptable

In [55]:
d=list(arr)

In [56]:
d.sort()

In [57]:
d

[2, 3, 5, 6, 6]

In [58]:
d[len(d)-2]

6

In [30]:
list(arr)

[1]

In [37]:
ty = input("Enter an value") 
ed=map(int,ty.split())

Enter an value5 3 2 4 7

In [39]:
list(ed)

[5, 3, 2, 4, 7]

In [81]:
n = int(input())
arr = map(int, input().split()) 
    
f = list(arr) 
    
f.remove(max(f)) 
    
f

5
2 3 6 6 5

[2, 3, 6, 5]

In [91]:
n = int(input())
arr = map(int, input().split()) 
    
c = list(arr)
    
b = set(c) 
v = list(b) 
print(v[len(v)-2])

5
2 3 6 6 5 7 8 9
8

In [92]:
c

[2, 3, 6, 6, 5, 7, 8, 9]

In [93]:
v=[12,23]

In [94]:
v[len(v)-2]

12

In [95]:
b=[2,3,6,6,5]

In [96]:
grades =[37.21,37.21,37.2,39,41]

In [97]:
sorted(grades)

[37.2, 37.21, 37.21, 39, 41]

In [98]:
a,_=5,6

In [99]:
a

5

[2, 3, 6, 6, 5]

In [101]:
name = input()
score = float(input())

alpha
37.2

In [2]:
de = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [9]:
f = []
for i in range(0,len(de)): 
    f.append(de[i][1])

In [10]:
sorted(f)

[37.2, 37.21, 37.21, 39, 41]

In [148]:
vals = list(e.values()) 
keys[vals.index(f[1])]

'Harry'

In [11]:
de

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41],
 ['Harsh', 39]]

In [15]:
vals

[37.21, 37.21, 37.2, 41, 39]

In [14]:
keys

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [12]:
e =dict(de) 
keys = list(e.keys()) 
vals = list(e.values()) 
for i in range(0,len(f)): 
    print(keys[vals.index(f[i])])

Harry
Harry
Tina
Akriti
Harsh

In [150]:
keys

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [127]:
dictA = {"Mon": 3, "Tue": 11, "Wed": 8}
# list of keys and values
keys = list(dictA.keys())
vals = list(dictA.values())
print(keys[vals.index(11)])
print(keys[vals.index(8)])
# in one-line
print(list(dictA.keys())[list(dictA.values()).index(3)])

Tue
Wed
Mon

In [129]:
keys

['Mon', 'Tue', 'Wed']

In [130]:
vals

[3, 11, 8]

In [131]:
keys[vals.index(11)]

'Tue'

In [133]:
list(dictA.keys())[list(dictA.values()).index(3)]

'Mon'

In [16]:
de = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [17]:
l=[]
for i in range(0,len(de)): 
    l.append(de[i][0])

In [18]:
l

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [19]:
sorted(l)

['Akriti', 'Berry', 'Harry', 'Harsh', 'Tina']

In [20]:
dict(de)

{'Harry': 37.21, 'Berry': 37.21, 'Tina': 37.2, 'Akriti': 41, 'Harsh': 39}

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
query_name = input()   
d = list(student_marks.get(query_name))  
f=0 
for i in range(0,len(d)): 
    f = f + d[i] 
print("Average of the student marks : ",f/3)

In [2]:
student_marks

{'Harsh': [12.0, 45.0, 35.0]}

In [11]:
d = list(student_marks.get(query_name)) 
d

[12.0, 45.0, 35.0]

In [10]:
f=0 
for i in range(0,len(d)): 
    f = f + d[i] 
print("Average of the student marks : ",f/3)

Average of the student marks :  30.666666666666668

In [3]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()  
d = list(student_marks.get(query_name))  
f=0 
for i in range(0,len(d)): 
    f = f + d[i] 
a=f/3
print("{0:.2f}".format(a))

3
manoj 1 2 3
kumar 14 4 5
teja 3 5 6
teja
[3.0, 5.0, 6.0]
4.666666666666667

In [5]:
hash((1,2))

3713081631934410656

In [16]:
n = int(input())
integer_list = map(int, input().split()) 
k = tuple(integer_list) 
print(hash(k))

2
1 2
3713081631934410656

In [17]:
a="Teja kUmar"

In [19]:
a.swapcase()

'tEJA KuMAR'

In [3]:
s = input()
result = swap_case(s)
print(result)

teja
TEJA

In [2]:
def swap_case(s): 
    f = s.swapcase() 
    
    return f

In [32]:
swap_case("teja")

'TEJA'

In [ ]:
def position(string,position,character):

In [4]:
string = input("Enter your string") 
position = int(input("Enter position")) 
character = input("Enter your letter")

Enter your stringTEjaKumar
Enter position1
Enter your lettere

In [5]:
string

'TEjaKumar'

In [8]:
string[:1]+'e'+string[2:]

'TejaKumar'

In [9]:
string ="ABCDCDC"

In [12]:
d = list(string) 
d

['A', 'B', 'C', 'D', 'C', 'D', 'C']

In [13]:
d.count('CDC')

0

In [16]:
string.count("CDC")

1

In [81]:
string = input().strip()
sub_string = input().strip()
    
#count = count_substring(string, sub_string)
print(sub_string)

ABCDCDC
CDC
CDC

In [82]:
string

'ABCDCDC'

In [83]:
string.count('CDC')

1

In [84]:
s

1

In [20]:
string.index('D')

3

In [21]:
string.count("CDC")

1

In [24]:
string.count(sub_string[:2])

2

In [37]:
s="qA2"

In [28]:
s.isalnum()

True

In [31]:
s.upper()

'QA2'

In [38]:
s.isupper()

False

In [42]:
any(l.isupper() for l in s)

True

In [44]:
any(l.isalnum() for l in s)

True

In [47]:
a='H' 
for i in range(0,21,2): 
    print(a.center(i))

H
H
 H
  H
   H
    H
     H
      H
       H
        H
         H

In [64]:
j=9 
for i in range(1,10,2): 
    print(' '*9+i*"H") 
    j=j-1 
for i in range(0,6): 
    print("H"*5+' '*16+"H"*5) 
for i in range(0,4): 
    print("H"*30) 
for i in range(0,6): 
    print("H"*5+' '*16+"H"*5)

         H
         HHH
         HHHHH
         HHHHHHH
         HHHHHHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH
HHHHH                HHHHH

In [65]:
import string

In [72]:
d = string.printable[10:36]

In [73]:
d

'abcdefghijklmnopqrstuvwxyz'

In [74]:
from textwrap import fill

In [77]:
print(fill(d,3))

abc
def
ghi
jkl
mno
pqr
stu
vwx
yz

In [78]:
print("-"*33)

---------------------------------

In [85]:
d

'abcdefghijklmnopqrstuvwxyz'

In [97]:
f=[]
for i in range(0,10): 
    f.append(d[i])

In [98]:
f

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [103]:
from string import ascii_lowercase

def print_rangoli(n: int):

    alpha = ascii_lowercase[:n]

    for row in range(- n + 1, n):
        row = abs(row)
        dashes = "-" * (2 * row)
        print(dashes + "-".join(alpha[:row:-1] + alpha[row:]) + dashes)

if __name__ == '__main__':
    n = int(input("Enter a size: "))
    print_rangoli(n)

Enter a size: 2
--b--
b-a-b
--b--

In [106]:
    alpha = ascii_lowercase[:n]
for row in range(- n + 1, n):
        row = abs(row)
        dashes = "-" * (2 * row)
        print(dashes + "-".join(alpha[:row:-1] + alpha[row:]) + dashes)

--b--
b-a-b
--b--

In [109]:
for row in range(-n+1,n): 
    rows = abs(row) 
    dashes = "-"*(2*row)

--

In [112]:
alpha[-1:]

'b'

In [117]:
#def print_rangoli(size):
from string import ascii_lowercase

def print_rangoli(n: int):

    alpha = ascii_lowercase[:n]

    for row in range(- n + 1, n):
            row = abs(row)
            dashes = "-" * (2 * row)
            print(dashes + "-".join(alpha[:row:-1] + alpha[row:]) + dashes) 
        

# your code goes here

if __name__ == '__main__':
    n = int(input())
    print_rangoli(n)

4
------d------
----d-c-d----
--d-c-b-c-d--
d-c-b-a-b-c-d
--d-c-b-c-d--
----d-c-d----
------d------

In [137]:
s= "chris alan"

In [138]:

d = s.split()

In [158]:
p=[]
def string(s):
    d=s.split()
    for i in range(0,len(d)): 
        x="".join(d[i].capitalize())
        p.append(x)
    return print(p[0]+" "+p[1])
string("chris alan")

Chris Alan

In [130]:
p

['Chris', 'Alan']

In [133]:
print(p[0]+" "+p[1])

Chris Alan

In [159]:
from itertools import product

In [167]:
a=[1,2] 
b=[3,4]

In [191]:
a = input().split()  
b = input().split()
c = map(int,a) 
d = map(int,b)

1 2
3 4

In [192]:
e = list(c) 
f = list(d) 
print(e) 
print(f)

[1, 2]
[3, 4]

1 2 3 4

In [196]:
j = product(e,f)

In [197]:
m = tuple(j) 
m

((1, 3), (1, 4), (2, 3), (2, 4))

In [170]:
f[1]

(1, 4)

In [198]:
for i in range(0,len(m)): 
    print(m[i],end=" ")

(1, 3) (1, 4) (2, 3) (2, 4)

In [242]:
n = input().split()

HACK 2

In [243]:
c = list(n)

['HACK', '2']

In [265]:
n = input().split() 
c = list(n) 

from itertools import permutations 
c = permutations(c[0],int(c[1]))

d = list(c)

s=[]
for i in range(0,len(d)):  
    if len(d[i])==2:
        s.append(d[i][0]+d[i][1]) 
    if len(d[i])==3: 
        s.append(d[i][0]+d[i][1]+d[i][2])
d = sorted(s)

for i in d: 
    print(i)

ABC 3
ABC
ACB
BAC
BCA
CAB
CBA

In [263]:
d[1]

'AH'

In [255]:
n = input().split() 
c = list(n) 
s=[]
f = sorted(list(permutations(c[0],int(c[1])))) 
for i in range(0,len(f)):
    s.append(f[i][0]+f[i][1]+f[i][2])
        

for i in s: 
    print(i)

HACK 2

IndexError: tuple index out of range

In [259]:
f

[('A', 'C'),
 ('A', 'H'),
 ('A', 'K'),
 ('C', 'A'),
 ('C', 'H'),
 ('C', 'K'),
 ('H', 'A'),
 ('H', 'C'),
 ('H', 'K'),
 ('K', 'A'),
 ('K', 'C'),
 ('K', 'H')]

In [223]:
a="HACK"
for i in range(0,len(a),2): 
    print(a[i:i+2])

HA
CK